@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: Arial, Helvetica, sans-serif;
}

@layer base {
  :root {
    --background: 120 60% 93.1%;
    --foreground: 224 71% 4%;
    --card: 0 0% 100%;
    --card-foreground: 224 71% 4%;
    --popover: 0 0% 100%;
    --popover-foreground: 224 71% 4%;
    --primary: 120 61% 40%;
    --primary-foreground: 0 0% 98%;
    --secondary: 120 30% 88%;
    --secondary-foreground: 224 71% 4%;
    --muted: 120 30% 88%;
    --muted-foreground: 224 71% 14%;
    --accent: 222 61% 50%;
    --accent-foreground: 0 0% 98%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 0 0% 89.8%;
    --input: 0 0% 89.8%;
    --ring: 222 61% 50%;
    --chart-1: 120 61% 40%;
    --chart-2: 222 61% 50%;
    --chart-3: 120 40% 60%;
    --chart-4: 222 40% 70%;
    --chart-5: 120 50% 50%;
    --radius: 0.5rem;
    --sidebar-background: 224 71% 6%;
    --sidebar-foreground: 0 0% 98%;
    --sidebar-primary: 120 61% 50%;
    --sidebar-primary-foreground: 224 71% 4%;
    --sidebar-accent: 224 71% 10%;
    --sidebar-accent-foreground: 0 0% 98%;
    --sidebar-border: 224 71% 10%;
    --sidebar-ring: 120 61% 50%;
  }
  .dark {
    --background: 224 71% 4%;
    --foreground: 0 0% 98%;
    --card: 224 71% 6%;
    --card-foreground: 0 0% 98%;
    --popover: 224 71% 6%;
    --popover-foreground: 0 0% 98%;
    --primary: 120 61% 50%;
    --primary-foreground: 224 71% 4%;
    --secondary: 224 71% 10%;
    --secondary-foreground: 0 0% 98%;
    --muted: 224 71% 10%;
    --muted-foreground: 0 0% 63.9%;
    --accent: 222 61% 50%;
    --accent-foreground: 0 0% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 224 71% 10%;
    --input: 224 71% 10%;
    --ring: 222 61% 50%;
    --chart-1: 120 61% 50%;
    --chart-2: 222 61% 50%;
    --chart-3: 120 40% 70%;
    --chart-4: 222 40% 80%;
    --chart-5: 120 50% 60%;
    --sidebar-background: 224 71% 6%;
    --sidebar-foreground: 0 0% 98%;
    --sidebar-primary: 120 61% 50%;
    --sidebar-primary-foreground: 224 71% 4%;
    --sidebar-accent: 224 71% 10%;
    --sidebar-accent-foreground: 0 0% 98%;
    --sidebar-border: 224 71% 10%;
    --sidebar-ring: 120 61% 50%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
